@{
  Layout = "_Layout";
}

<!-- title -->
<h1>Welcome to Restaurant Rater!</h1>
<!-- link to cuisines index view -->
<p>@Html.ActionLink("See cuisine types", "Index", "Cuisines")</p>
<!-- link to Eateries index view -->
<p>@Html.ActionLink("See all restaurants", "Index", "Eateries")</p>